{% extends 'products/frontpage.html' %}
{% load staticfiles %}

 {% block title %} Reset Password {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href='{% static "accounts/css/base.css" %}'/>  
{% endblock %}
{% block get_list %}
 
  {{ block.super }}

 {% endblock %}

 {% block activity %}

  {{ block.super }}

 {% endblock %}

 {% block content %}
 <div class="row">

     <div class="col s12 m8 l6 offset-m2 offset-l3">
         <div class="card-panel">
             <h4> Reset Password </h4>
                 {{ error }}


 <form action = "{% url 'reset_password' id=uid otp=otp %}" method='POST'>
     {% csrf_token %}
     {{ f.as_p }}

 <div class="row">
                     <div class="col s12">
            <button type="submit" id ="login-btn" name="login" class="btn waves-effect waves-light left deep-orange darken-4">Update Password</button>
                     </div>
                 </div>



 </form>
  </div>
     </div>
 </div>

 {% endblock %}

