{% extends 'products/frontpage.html' %}
 {% block title %} Email Sent{% endblock %}
{% block get_list %}
 
  {{ block.super }}

 {% endblock %}

 {% block activity %}

  {{ block.super }}

 {% endblock %}
 {% block content %}
<br><br>
  <div class="row">

     <div class="col s12 m8 l6 offset-m2 offset-l3">
         <div class="card-panel deep-orange darken-4">
             <h4 class='brown-text text-darken-2'>
 Hey, {{ u.username }}. Account is activated.
             </h4>
           </div>
 <div class="row">
                 <div class="col s12">
                      <form action = '{% url "login" %}'> 
                      <button type="submit" id ="login-btn" name="login" class="btn waves-effect waves-light left deep-orange darken-4">Log In</button>
                     </div>
                     </form>

                 </div>
 </div>
     </div>



 {% endblock %}


